@import url(../vendor/nomalize.css);
.page {
  width: 100%;
  background-color:#000;
}
.header {
  width: 880px;
  padding: 42px 0 40px 0;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}
.header__logo {
  width: 142px;
}
.content {
  width: 880px;
  margin: 40px auto 0;
}
.profile__pic {
  width: 120px;
  border-radius: 50%;
}